

<nav class="navbar navbar-expand-lg  " style="background-color: #007bff;"  >
  <a class="navbar-brand"   >Swift Serve</a>
  
    <div class="collapse navbar-collapse" id="navbarColor01" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="service.isAdminLoggedIn"  routerLink="showcompany">Registered Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   *ngIf="service.isAdminLoggedIn"  routerLink="request">Requests</a>
        </li>
        

          <li class="nav-item">
            <a class="nav-link"  routerLink="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " *ngIf="service.isCompanyLoggedIn"  routerLink="/myservices">My Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " *ngIf="service.isCompanyLoggedIn"  routerLink="addservice" >Add Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="service.isUserLoggedIn " routerLink="cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="service.isUserLoggedIn"  routerLink="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!service.isUserLoggedIn||!service.isCompanyLoggedIn||!service.isAdminLoggedIn" routerLink="about">About us</a>
          </li>
         
          <!-- <li class="nav-item">
              <a class="nav-link" *ngIf="!service.isUserLoggedIn&&!service.isAdminLoggedIn&&!service.isCompanyLoggedIn" routerLink="register">Register</a>
            </li> -->
          
        
      </ul>
      
    </div>
    <div class="ml-auto"> <!-- Add this div -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!service.isUserLoggedIn&&!service.isAdminLoggedIn&&!service.isCompanyLoggedIn"  routerLink="login" style="background-color: #A0DEFF;color:black ;" >Login/Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="service.isUserLoggedIn || service.isAdminLoggedIn || service.isCompanyLoggedIn" routerLink="/home" (click)="logout()" class="btn btn-danger">Logout</a>
        </li>
      
      </ul>
    </div>
  </nav>
