<footer>
    <div class="footer-content">
      <h3>Company</h3>
      <p>About Us</p>
      <p>Terms & Conditions</p>
      <p>Careers</p>
    </div>

    <div class="footer-content-1" style="text-align: left;">
      <h3>Contact Us</h3>
      <p>Email: example.com</p>
      <p>Phone: +1234567890</p>
      <p>Address: 123 Street, City, Country</p>
    </div>

    
   <div>
    <div class="social-links">
      <h3>Social Links</h3>
      <a href="https://www.linkedin.com/in/preamkrishnaa-ch-91b7b6257/" target="_blank"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
        </svg>
      </a>
      <a href="https://www.instagram.com/your-instagram-profile-url" target="_blank"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
          <path d="M8 0C5.78 0 5.333.012 4.533.067c-.84.06-1.42.253-1.82.533-.466.36-.8.833-1.067 1.533-.28.7-.467 1.333-.533 1.8-.054.8-.067 1.247-.067 3.467 0 2.22.013 2.667.067 3.467.066.467.253 1.1.533 1.8.267.7.6 1.173 1.067 1.533.4.28.98.473 1.82.533.8.054 1.247.067 3.467.067s2.667-.013 3.467-.067c.84-.06 1.42-.253 1.82-.533.466-.36.8-.833 1.067-1.533.28-.7.467-1.333.533-1.8.054-.8.067-1.247.067-3.467 0-2.22-.013-2.667-.067-3.467-.066-.467-.253-1.1-.533-1.8-.267-.7-.6-1.173-1.067-1.533-.4-.28-.98-.473-1.82-.533-.8-.054-1.247-.067-3.467-.067zm0 1.733c2.187 0 2.627.01 3.36.064.653.048 1.05.228 1.35.467.352.273.6.833 1.033.224.4.404.797.45 1.35.054.733.064 1.173.064 3.35 0 2.177-.01 2.617-.064 3.35-.046.553-.226.95-.45 1.35-.233.433-.48.76-.833 1.033-.3.24-.697.42-1.35.467-.733.054-1.173.064-3.36.064-2.188 0-2.627-.01-3.36-.064-.653-.047-1.05-.227-1.35-.467-.353-.273-.6-.6-.833-1.033-.224-.4-.404-.797-.45-1.35-.054-.733-.064-1.173-.064-3.35 0-2.177.01-2.617.064-3.35.046-.553.226-.95.45-1.35.233-.433.48-.76.833-1.033.3-.24.697-.42 1.35-.467.733-.054 1.172-.064 3.36-.064zM8 4a4 4 0 100 8 4 4 0 000-8zM8 6a2 2 0 100 4 2 2 0 000-4zm4.74-.156a.753.753 0 11.002 1.506.753.753 0 01-.002-1.506z"/>
        </svg>
      </a>

      <a href="https://www.facebook.com/your-facebook-profile-url" target="_blank"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M3 1a2 2 0 00-2 2v10a2 2 0 002 2h5v-6H6V7.35h2V5.5c0-1.1.9-2 2-2h1v2h-1a1 1 0 00-1 1v1.35h2L10 7.35h1l.15.15H10V13h3a2 2 0 002-2V3a2 2 0 00-2-2H3z"/>
        </svg>
    </a>
    

      <div class="display">
        <img src="assets/Images/display.png" alt="Image Description" class="new-line" >
        <img src="assets/Images/display1.png" alt="Image Description" class="new-line">
      </div>
    </div>
   </div> 

    
  </footer>
