h3 {
    font-size: 16px;
    color: rgb(175, 174, 174);
}
footer {
    background-color: #31363F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-content {
    /* margin-left: 20px; */
    margin-left: 130px;
    flex: 1;
    text-align: left;
}

.footer-content-1 {
    margin-left: 10px;
    /* padding-left: 10px; */
    flex: 1;
    text-align: left;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.social-links {
    padding-right: 200px;
}

.social-links svg {
    fill: white;    
    margin-right: 10px;
    text-align: center;
  }
  
  

/* .instagram-logo {
    display: inline-block;
  }
  
.instagram-logo img {
    width: 40px; 
    height: 40px; 
} */
  
.display {
    margin-top: 10px;
    text-align: center;
}

.display img {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.display img.new-line {
    display: block;
    margin: 10px auto; 
}

.display img:hover {
    transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: row; 
        align-items: start;
    }

    

    .footer-content {
        padding-right: 20px;
        /* padding-left: 10px; */
        /* margin: 10px 0;  */
    }

    .footer-content-1 {
        padding-right: 50px;
    }

    .social-links {
        padding-right: 80px;

    }
}