<div class="container">
<div><h1>New Registrations</h1></div>
<div class="container">
    <table>
        <tr class="head">
            <th>S no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        <tbody *ngFor="let company of companys| paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
            <ng-container *ngIf="company.status=='inactive'" >
                <td>{{i+1}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.number}}</td>
            <td> <button  class="btn btn-success"  ><span class="material-symbols-outlined"  (click)="approveCompany(company.id)">check_circle</span></button>
            <button class="btn btn-danger"><span class="material-symbols-outlined" (click)="deleteCompany(company.id)"> cancel</span></button>
        </ng-container>
        </tbody>
    </table>
</div>
</div>

<pagination-controls  (pageChange)="pageChanged($event)" ></pagination-controls>


