<div class="bg">
    <div class="head" style="font-style: italic; font-size: large;"><h1>About Us</h1></div>
    <div style="background-color: rgb(227, 220, 220);">
    <div class="who-we-are">
        <h1><b>Who we are</b></h1>
        <div class="text" style="margin-left: 35px; margin-right: 35px; text-align: justify;">
          <p style="font-size: large;">We are a passionate team of learners dedicated to expanding our skills and knowledge in various technologies. Through a comprehensive course of study, we have honed our expertise and applied it to develop innovative projects. Our journey in learning has empowered us to create impactful solutions using the latest tools and methodologies.
          </p>
          <p style="font-size: large;">Driven by curiosity and a thirst for knowledge, we have embraced challenges and continuously strived for excellence. Our collaborative efforts and diverse skill sets enable us to tackle complex problems and deliver effective results. With a strong foundation in programming languages, frameworks, and development practices, we are committed to pushing the boundaries of what's possible in the ever-evolving tech landscape.
          </p>
          <p style="font-size: large;">At our core, we believe in the transformative power of education and innovation. By leveraging our collective experiences and leveraging the latest advancements in technology, we aim to make a positive impact on the world around us. As we continue on our learning journey, we remain steadfast in our commitment to growth, excellence, and making a difference through our work.
          </p>
          </div>
      <div class="container">
        <div class="box" style="margin-left: 40px; margin-top: 60px; margin-right: 30px;">
            <h2>2000+</h2>
            <p>Trained professionals.</p>
        </div>
        <div class="box" style="margin-left: 150px; margin-top: 60px;">
            <h2>15000+</h2>
            <p>Happy Customers</p>
        </div>
        <div class="box-1" style="margin-left: 110px; margin-top: 60px;">
            <h2>11+</h2>
            <p>Cities</p>
        </div>
        <div class="box" style="margin-left: 210px; margin-top: 60px;">
          <h2>2</h2>
          <p>Countries</p>
      </div>
      </div> <br>

      <div style="margin-top: 60px; text-align: justify;">
        <h1><b>How we do it</b></h1>
        <p style="font-size: large; margin-left: auto; margin-right: auto; width: 70%;">Our approach to tackling challenges is rooted in a blend of creativity, collaboration, and strategic problem-solving. We begin by carefully analyzing the problem at hand, breaking it down into manageable components, and identifying the most effective solutions.
        </p>
        <p style="font-size: large; margin-left: auto; margin-right: auto; width: 70%;">Through iterative development cycles and continuous feedback loops, we refine our strategies and implementations to ensure optimal outcomes. Our agile methodology enables us to adapt to evolving requirements and respond swiftly to changing circumstances, fostering flexibility and innovation throughout the process.
        </p>
        <p style="font-size: large; margin-left: auto; margin-right: auto; width: 70%;">Central to our approach is a commitment to excellence and attention to detail. We meticulously test and validate our solutions to guarantee reliability, performance, and user satisfaction. By adhering to best practices and leveraging the latest technologies, we strive to deliver solutions that exceed expectations and drive tangible results.
        </p>
        <p style="font-size: large; margin-left: auto; margin-right: auto; width: 70%;">Moreover, our emphasis on clear communication and transparency ensures alignment across all stakeholders and fosters a collaborative environment conducive to success. By fostering trust, mutual respect, and open dialogue, we cultivate strong partnerships and empower our team members to achieve their full potential.
        </p>
        <p style="font-size: large; margin-left: auto; margin-right: auto; width: 70%;">In essence, our methodology is characterized by a relentless pursuit of excellence, a dedication to innovation, and a commitment to delivering value at every stage of the project lifecycle. By adhering to these principles, we consistently surpass expectations and set new standards for success.
        </p>
    </div>

      <div style="margin-top: 60px;">
        <h1><b>Our Team</b></h1>
      </div>

      <div class="container" >
        <div class="card">
            <img src="assets/Images/Painting.jpg"/>
            <h2 style="text-align: center;"><b>Tharun</b></h2>
            <a href="https://www.linkedin.com/in/preamkrishnaa-ch-91b7b6257/" target="_blank"> <!-- Replace "your-linkedin-profile-url" with your actual LinkedIn profile URL -->
              <svg  width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
              </svg>
            </a>
            <a href=" " target="_blank"> <!-- Replace "your-instagram-profile-url" with your actual Instagram profile URL -->
              <svg  width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.78 0 5.333.012 4.533.067c-.84.06-1.42.253-1.82.533-.466.36-.8.833-1.067 1.533-.28.7-.467 1.333-.533 1.8-.054.8-.067 1.247-.067 3.467 0 2.22.013 2.667.067 3.467.066.467.253 1.1.533 1.8.267.7.6 1.173 1.067 1.533.4.28.98.473 1.82.533.8.054 1.247.067 3.467.067s2.667-.013 3.467-.067c.84-.06 1.42-.253 1.82-.533.466-.36.8-.833 1.067-1.533.28-.7.467-1.333.533-1.8.054-.8.067-1.247.067-3.467 0-2.22-.013-2.667-.067-3.467-.066-.467-.253-1.1-.533-1.8-.267-.7-.6-1.173-1.067-1.533-.4-.28-.98-.473-1.82-.533-.8-.054-1.247-.067-3.467-.067zm0 1.733c2.187 0 2.627.01 3.36.064.653.048 1.05.228 1.35.467.352.273.6.6.833 1.033.224.4.404.797.45 1.35.054.733.064 1.173.064 3.35 0 2.177-.01 2.617-.064 3.35-.046.553-.226.95-.45 1.35-.233.433-.48.76-.833 1.033-.3.24-.697.42-1.35.467-.733.054-1.173.064-3.36.064-2.188 0-2.627-.01-3.36-.064-.653-.047-1.05-.227-1.35-.467-.353-.273-.6-.6-.833-1.033-.224-.4-.404-.797-.45-1.35-.054-.733-.064-1.173-.064-3.35 0-2.177.01-2.617.064-3.35.046-.553.226-.95.45-1.35.233-.433.48-.76.833-1.033.3-.24.697-.42 1.35-.467.733-.054 1.172-.064 3.36-.064zM8 4a4 4 0 100 8 4 4 0 000-8zM8 6a2 2 0 100 4 2 2 0 000-4zm4.74-.156a.753.753 0 11.002 1.506.753.753 0 01-.002-1.506z"/>
              </svg>
            </a> 

            <!-- <a href=" " target="_blank"> 
              <svg  width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M3 1a2 2 0 00-2 2v10a2 2 0 002 2h5v-6H6V7.35h2V5.5c0-1.1.9-2 2-2h1v2h-1a1 1 0 00-1 1v1.35h2L10 7.35h1l.15.15H10V13h3a2 2 0 002-2V3a2 2 0 00-2-2H3z"/>
              </svg>
          </a> -->
          
            <p style="text-align: center; font-size: medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquam, aliquid quae quo incidunt esse, nihil deserunt repellendus aperiam sint tenetur exercitationem dicta velit cum corrupti aut quod soluta voluptatem.</p>

        </div>
        <div class="card">
            <img src="assets/Images/Painting.jpg"/>
            <h2 style="text-align: center;"><b>Hemanth</b></h2>
            <a href="https://www.linkedin.com/in/preamkrishnaa-ch-91b7b6257/" target="_blank"> <!-- Replace "your-linkedin-profile-url" with your actual LinkedIn profile URL -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
              </svg>
            </a>
            <a href="https://www.instagram.com/your-instagram-profile-url" target="_blank"> <!-- Replace "your-instagram-profile-url" with your actual Instagram profile URL -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.78 0 5.333.012 4.533.067c-.84.06-1.42.253-1.82.533-.466.36-.8.833-1.067 1.533-.28.7-.467 1.333-.533 1.8-.054.8-.067 1.247-.067 3.467 0 2.22.013 2.667.067 3.467.066.467.253 1.1.533 1.8.267.7.6 1.173 1.067 1.533.4.28.98.473 1.82.533.8.054 1.247.067 3.467.067s2.667-.013 3.467-.067c.84-.06 1.42-.253 1.82-.533.466-.36.8-.833 1.067-1.533.28-.7.467-1.333.533-1.8.054-.8.067-1.247.067-3.467 0-2.22-.013-2.667-.067-3.467-.066-.467-.253-1.1-.533-1.8-.267-.7-.6-1.173-1.067-1.533-.4-.28-.98-.473-1.82-.533-.8-.054-1.247-.067-3.467-.067zm0 1.733c2.187 0 2.627.01 3.36.064.653.048 1.05.228 1.35.467.352.273.6.6.833 1.033.224.4.404.797.45 1.35.054.733.064 1.173.064 3.35 0 2.177-.01 2.617-.064 3.35-.046.553-.226.95-.45 1.35-.233.433-.48.76-.833 1.033-.3.24-.697.42-1.35.467-.733.054-1.173.064-3.36.064-2.188 0-2.627-.01-3.36-.064-.653-.047-1.05-.227-1.35-.467-.353-.273-.6-.6-.833-1.033-.224-.4-.404-.797-.45-1.35-.054-.733-.064-1.173-.064-3.35 0-2.177.01-2.617.064-3.35.046-.553.226-.95.45-1.35.233-.433.48-.76.833-1.033.3-.24.697-.42 1.35-.467.733-.054 1.172-.064 3.36-.064zM8 4a4 4 0 100 8 4 4 0 000-8zM8 6a2 2 0 100 4 2 2 0 000-4zm4.74-.156a.753.753 0 11.002 1.506.753.753 0 01-.002-1.506z"/>
              </svg>
            </a> 

            <!-- <a href="https://www.facebook.com/your-facebook-profile-url" target="_blank"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M3 1a2 2 0 00-2 2v10a2 2 0 002 2h5v-6H6V7.35h2V5.5c0-1.1.9-2 2-2h1v2h-1a1 1 0 00-1 1v1.35h2L10 7.35h1l.15.15H10V13h3a2 2 0 002-2V3a2 2 0 00-2-2H3z"/>
              </svg>
          </a> -->
          
            <p style="text-align: center; font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquam, aliquid quae quo incidunt esse, nihil deserunt repellendus aperiam sint tenetur exercitationem dicta velit cum corrupti aut quod soluta voluptatem.</p>

        </div>
        <div class="card">
            <img src="assets/Images/me.jpg"/>
            <!-- <a href="https://www.linkedin.com/in/preamkrishnaa">
              
            </a> -->
            <h2 style="text-align: center;"><b>Pream krishnaa</b></h2>
            <a href="https://www.linkedin.com/in/preamkrishnaa-ch-91b7b6257/" target="_blank"> <!-- Replace "your-linkedin-profile-url" with your actual LinkedIn profile URL -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
              </svg>
            </a>
            <a href="https://www.instagram.com/your-instagram-profile-url" target="_blank"> <!-- Replace "your-instagram-profile-url" with your actual Instagram profile URL -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.78 0 5.333.012 4.533.067c-.84.06-1.42.253-1.82.533-.466.36-.8.833-1.067 1.533-.28.7-.467 1.333-.533 1.8-.054.8-.067 1.247-.067 3.467 0 2.22.013 2.667.067 3.467.066.467.253 1.1.533 1.8.267.7.6 1.173 1.067 1.533.4.28.98.473 1.82.533.8.054 1.247.067 3.467.067s2.667-.013 3.467-.067c.84-.06 1.42-.253 1.82-.533.466-.36.8-.833 1.067-1.533.28-.7.467-1.333.533-1.8.054-.8.067-1.247.067-3.467 0-2.22-.013-2.667-.067-3.467-.066-.467-.253-1.1-.533-1.8-.267-.7-.6-1.173-1.067-1.533-.4-.28-.98-.473-1.82-.533-.8-.054-1.247-.067-3.467-.067zm0 1.733c2.187 0 2.627.01 3.36.064.653.048 1.05.228 1.35.467.352.273.6.6.833 1.033.224.4.404.797.45 1.35.054.733.064 1.173.064 3.35 0 2.177-.01 2.617-.064 3.35-.046.553-.226.95-.45 1.35-.233.433-.48.76-.833 1.033-.3.24-.697.42-1.35.467-.733.054-1.173.064-3.36.064-2.188 0-2.627-.01-3.36-.064-.653-.047-1.05-.227-1.35-.467-.353-.273-.6-.6-.833-1.033-.224-.4-.404-.797-.45-1.35-.054-.733-.064-1.173-.064-3.35 0-2.177.01-2.617.064-3.35.046-.553.226-.95.45-1.35.233-.433.48-.76.833-1.033.3-.24.697-.42 1.35-.467.733-.054 1.172-.064 3.36-.064zM8 4a4 4 0 100 8 4 4 0 000-8zM8 6a2 2 0 100 4 2 2 0 000-4zm4.74-.156a.753.753 0 11.002 1.506.753.753 0 01-.002-1.506z"/>
              </svg>
            </a>  

            <!-- <a href="https://www.facebook.com/your-facebook-profile-url" target="_blank"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M3 1a2 2 0 00-2 2v10a2 2 0 002 2h5v-6H6V7.35h2V5.5c0-1.1.9-2 2-2h1v2h-1a1 1 0 00-1 1v1.35h2L10 7.35h1l.15.15H10V13h3a2 2 0 002-2V3a2 2 0 00-2-2H3z"/>
              </svg>
          </a> -->
          
            
            <p style="text-align: center; font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquam, aliquid quae quo incidunt esse, nihil deserunt repellendus aperiam sint tenetur exercitationem dicta velit cum corrupti aut quod soluta voluptatem.</p>

        </div>
      </div>

      <div>
        <h1><b>Our Investors</b></h1>
      </div>
      <div class="companies">
        <img src="assets/Images/comp1.png">
        <img src="assets/Images/comp2.png">
        <img src="assets/Images/compo4.avif">
        <img src="assets/Images/comp5.png">
        <img src="assets/Images/comp5.png">
        <img src="assets/Images/comp5.png">
        <img src="assets/Images/comp7.png">
        <img src="assets/Images/comp8.jpg">
        <img src="assets/Images/comp9.jpg">
        <img src="assets/Images/comp10.jpg">
      </div>

      <div class="invest-persons">
        <div class="persons">
          <h5>Bob Lans</h5>
          <img src="assets/Images/inv2.jpg">
        </div>  
        <div class="persons">
          <h5>Smith</h5>
          <img src="assets/Images/inv1.jpeg">
        </div> 
        <div class="persons">
          <h5>Maximus</h5>
          <img src="assets/Images/inv3.jpg">
        </div> 
        <div class="persons">
          <h5>Marcus</h5>
          <img src="assets/Images/inv3.jpeg">
        </div>
        <div class="persons">
          <h5>Mama</h5>
          <img src="assets/Images/inv4.webp">
        </div> 
        <div class="persons">
          <h5>Bobby</h5>
          <img src="assets/Images/inv5.jpg">
        </div>
        <div class="persons">
          <h5>Tsukki</h5>
          <img src="assets/Images/inv6.jpg">
        </div>
        <div class="persons">
          <h5>Lisa</h5>
          <img src="assets/Images/inv7.jpg">
        </div>
        <div class="persons">
          <h5>Lunatic</h5>
          <img src="assets/Images/inv10.jpg">
        </div>
        <div class="persons">
          <h5>Lucas</h5>
          <img src="assets/Images/inv9.png">
        </div>
      </div>
    </div>
    </div>
  
</div>
