h1 {
    text-align: center;
    margin-top: 20px; 
}

/* h2 {
    color: rgb(70, 76, 83);
    font-size: medium;
}

p {
    font-size: medium;
} */

.who-we-are {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 85%;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(227, 220, 220);
    margin: 0 10px 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.card .icons a {
    display: flex;
    justify-content: start;
    margin-right: 10px;
}

.card img {
    /* margin-left: 100px;
    width: 140px;
    height: 140px;
    clip-path: circle(50%); */
    margin: 0 auto; 
    display: block; 
    width: 140px;
    height: 140px;
    clip-path: circle(50%);
}

/* .companies img {
    margin-left: 50px;
    width: 250px;
    height: 180px;
} */

.companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.companies img {
    width: 250px;
    height: 180px;
    margin: 10px; 
}

.invest-persons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.invest-persons .persons {
    margin: 0 20px; 
    text-align: center;
    margin-right: 80px;
}

.invest-persons img {
    width: 140px;
    height: 140px;
    clip-path: circle(50%);
}

.container .card svg {
    fill: rgb(83, 120, 242);    
    text-align: center;
    
}




@media screen and (max-width: 768px) {
    .who-we-are {
        width: 90%;
    }

    .card {
        width: 100%;
        margin: 0 auto 50px;
    }

    .invest-persons .persons {
        margin: 0 30px;
    }

    .box {
        margin: 0 auto;
         /* margin-top: 30px; */
    }
}