.container {
    background-color: white;
    padding: 20px;
    display: flex;
    /* width: 80%; */
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.back-ground img {
    width: 70%;
}

.parent {
    width: 600px;
    /* max-width: 900px;  */
    margin: 0 auto;
    padding: 20px;
    /* margin-left: 100px; */
    /* border: 2px solid #ccc;  */
    border-radius: 10px;
    box-shadow: 
        15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px 15px 15px 15px rgba(67, 54, 54, 0.1), 
        -15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px -15px 15px 15px rgba(67, 54, 54, 0.1); 
}

.title {
    text-align: center;
}



.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="password"],
.input-box input[type="number"],
.input-box input[type="checkbox"] {
    width: calc(100% - 10px); /* Adjusting for input padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box input[type="checkbox"] {
    width: auto;
    margin-top: 0;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:disabled {
    background-color: #4590f9;
    cursor: not-allowed;
}

p {
    margin-left: 5px;
    margin-top: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

.notify {
    font-size:x-small;
}

@media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .back-ground img {
      /* height: 300px; */
      width: 90%;
      margin-left: 50px;
    }
    .parent {
        width: 500px;
        /* padding: 10px; */
        /* margin-top: 30px; */
        margin-bottom: 20px;
    }
  }

  @media (min-width:768px) and (max-width:1368px) {

    .container {
        display: flex;
        flex-direction: column;
      }
      .back-ground img {
        justify-content: center;
        height: 250px;
        width: 100%;
        margin-left: 50px;
      }
      .parent {
          /* padding: 10px; */
          justify-content: center;
          /* align-items: center; */
          /* margin-top: 30px; */
          /* margin-bottom: 20px; */
      }
  }

  @media (min-width:320px) and (max-width:768px) {
    .parent {
        width: 400px;
    }
  }