<div class="container">
    <div class="back-ground"><img src="assets/Images/company-register.png"></div>
    <div class="parent">
    <div class="title">
        <h1 >Company Register</h1>
    </div>
    <form #regforCompanyForm="ngForm" (ngSubmit)="regCompany(regforCompanyForm)">
        <div class="user-details">
            <div class="input-box">

                <input type="email" name="email" ngModel #email="ngModel" required minlength="6" maxlength="30" email placeholder="Enter Your Email">
                <p style="color: red;" *ngIf="email.errors?.['required'] && email.touched" class="notify">Email is required</p>
                <p style="color: red;" *ngIf="email.errors?.['email'] && email.touched" class="notify">Please enter a valid email address</p>
                <p style="color: red;" *ngIf="email.errors?.['minlength'] && email.touched" class="notify">Email must be greater than 6 characters</p>
                <p style="color: red;" *ngIf="email.errors?.['maxlength'] && email.touched" class="notify">Email must not exceed 25 characters</p>
            </div>
            <div class="input-box">
               
                <input type="password" name="password" ngModel #password="ngModel" required minlength="8" maxlength="15" placeholder="Enter Your Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                <p style="color: red;" *ngIf="password.errors?.['required'] && password.touched" class="notify">Password is required</p>
                <p style="color:red; font-size: 1.1rem;" *ngIf="password.errors?.['pattern'] && password.touched" class="notify">Password must Contain 8 character,UpperCase,LowerCase,SpecialCharacter and Digit</p>
                <p style="color: red;" *ngIf="cPassword.errors?.['maxlength'] && cPassword.touched" class="notify">Password must not exceed 15 characters</p> 
            </div>
            <div class="input-box">
                
                <input type="password" name="cPassword" ngModel #cPassword="ngModel" required minlength="8" maxlength="15" placeholder="Confirm Your Password">
                <p style="color: red;" *ngIf="cPassword.errors?.['required'] && cPassword.touched" class="notify">Please confirm your password</p>
                <p style="color: red;" *ngIf="cPassword.errors?.['maxlength'] && cPassword.touched" class="notify">Password must not exceed 15 characters</p>
                <p style="color: red;" *ngIf="cPassword.value !==password.value && cPassword.touched" class="notify">Passwords do not match</p>
            </div>
            <div class="input-box">
                
                <input type="text" name="name" ngModel #name="ngModel" required minlength="5" maxlength="15" placeholder="Enter Your First Name">
                <p style="color: red;" *ngIf="name.errors?.['required'] && name.touched" class="notify">Please enter the first name</p>
                <p style="color: red;" *ngIf="name.errors?.['minlength'] && name.touched" class="notify">First name must be at least 5 characters</p>
            </div>
            <div class="input-box">
                
                <input type="number" name="number" ngModel #number="ngModel" required minlength="10" maxlength="12" placeholder="Enter Your Number">
              <p style="color: red;" *ngIf="number.errors?.['required'] && number.touched" class="notify">Number is required</p>
                <p style="color: red;" *ngIf="number.errors?.['minlength'] && number.touched" class="notify">Number must be at least 10 characters</p>
                <p style="color: red;" *ngIf="number.errors?.['maxlength'] && number.touched" class="notify">Number must not exceed 12 characters</p>
            </div>
            <span><input type="checkbox" name="terms" ngModel required><span style="padding: 5px;">I,Agree to the Terms and Conditions</span></span>
        </div>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (onSuccess)="captchaCompleted = true"></ngx-recaptcha2>
        <div>
            <button type="submit" [disabled]="regforCompanyForm.invalid " class="btn btn-danger">Register</button>
        </div>
    </form>
    <p style="text-align: center;"> OR</p>
    <p>Already have an account? <a class="nav-link" routerLink="/login">Login</a></p>
</div>
</div>