




.main {
  /* background-image: url('/assets/images/loginbg.avif'); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  position: relative;

  
}

.back-ground img {
  vertical-align:bottom;
  border-style: none;
}
.back-ground {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 
        15px 0px 15px 15px rgba(67, 54, 54, 0.1), /* Left shadow */
        0px 15px 15px 15px rgba(67, 54, 54, 0.1), /* Bottom shadow */
        -15px 0px 15px 15px rgba(67, 54, 54, 0.1), /* Right shadow */
        0px -15px 15px 15px rgba(67, 54, 54, 0.1); /* Top shadow */
  padding: 20px;
  max-width: 380px; 
  width: 90%; 
  /* margin: auto;  */
  /* margin-right: 100px; */
  

  /* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 1.05px, #e5e5f7 1.05px);
background-size: 21px 21px; */
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .back-ground img {
    width: 90%;
    margin-top: 30px;
  }
  .container {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 30px;
      align-items: center;
      /* margin-right: 170px; */
  }
}

@media (min-width:768px) and (max-width:1368px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .back-ground img {
    width: 90%;
    margin-top: 100px;
  }
  .container {
      padding: 10px;
      margin-top: 0px;
      margin-bottom: 30px;
  }
}

/* @media screen and (min-width: 375px) and (max-width:678px) {
    .container {
        margin-right: 100px;
    }
} */

/* @media (max-width:1368px) {
  .container {
    margin-right: 100px;
  } */

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h1 {
  color: #333;
}

.form {
  margin-bottom: 20px;
}

.notify {
  font-size:x-small;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #6bbcd7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:disabled {
  background-color: #1c51e0;
  cursor: not-allowed;
}

.OR {
  /* margin-top: 10px;
  text-align: center; */
  margin-top: 10px;
  margin-left: 161px;
  /* padding: 50px; */
}

.reg {
  text-align: center;
  /* margin-top: 5px; */
}

.reg p {
  margin: 0;
}

.reg a {
  display: inline;
  color: #007bff;
}

.reg a:hover {
  text-decoration: underline;
}

/* .extra-box {
  color: black;
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  background-color: rgb(251, 243, 243);
  border-radius: 0 5px 5px 0;
} */

.mail-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; /* Adjust as needed */
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
}



