<div class="main">

    <div class="back-ground">
        <img src="assets/Images/login-background.png">

    </div>
<div class="container">
    <div class="heading">
        <h1 style="font-style: italic;">Login</h1>
    </div>
    <div class="form">
        <form #loginform="ngForm" (ngSubmit)="loginsubmit(loginform)" >
            <label for=""><span class="material-symbols-outlined"> mail</span>Enter Your Email</label>
            <input type="email" name="email" ngModel #email="ngModel" required  minlength="6"  maxlength="35" email placeholder="Enter Your Email">
            <p style="color: red;" *ngIf="email.errors?.['required'] && email.touched" class="notify">Email is required</p>
            <p style="color: red;" *ngIf="email.errors?.['email'] && email.touched" class="notify">Please enter a valid email address</p>
            <p style="color: red;" *ngIf="email.errors?.['minlength']&& email.touched" class="notify">Email must be greater than 6 characters</p>
            <p style="color: red;" *ngIf="email.errors?.['maxlength'] && email.touched" class="notify">Email more than 25 characters</p>
            <label for=""><span class="material-symbols-outlined">
                key
                </span>Enter Your Password</label>
            <input class="pass" type="password"   name="password"   ngModel #password="ngModel" required minlength="5" maxlength="15" placeholder="Enter Your Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" >
            <p  style="color: red;"   *ngIf="password.errors?.['pattern'] && password.touched" class="notify">Password must contain 8 characters,including one uppercase,one LowerCase,one digit,one Special Character</p>
            <button type="submit" class="btn btn-success" [disabled]="loginform.invalid">Login</button>
            <p  style="margin: 0%;padding: 0%;" class="OR">OR</p>
            <div class="reg">
            <p >Don't Have an Account, Please <span><a  class="nav-link" routerLink="/register">Register</a></span></p>
            <span><a routerLink="/forgot" class="nav-link">Forgot Password?</a></span>
        </div>
        </form>
    </div>
</div>
</div>

<div id="forgotModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="model-content">
            <div class="modal-header">
                <h5 class="modal-title">Forgot Password</h5>
                <button  type="button"  class="close"  data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table align="center">
                    <tbody>
                        <tr>
                            <td>Enter Your Email</td>
                        </tr>
                        <tr>
                            <input type="email" name="email"  [(ngModel)]="email" required placeholder="Enter Your Email">
                            <p *ngIf="email.errors?.['email'] && email.touched" >Enter Valid Email </p> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="sendmail()" class="btn btn-secondary" data-dismiss="modal">Send Email</button>
            </div>
        </div>
    </div>

</div>

