<div class="container">
    <div>
        <h1>Your orders</h1>
    </div>

<table border="2px">
    <tr class="head">
        
        <th>serviceName</th>
        <th>Number</th>
        <th>Adress</th>
        <th>price</th>
        <th>Date</th>
        
    </tr>
    <tbody *ngFor="let order of Orders">
       <td>{{order.serviceName}}</td>
       <td>{{order.number}}</td>
       <td>{{order.adress}}</td>
       <td>{{order.price}}</td>
       <td>{{order.date}}</td>
    </tbody>
</table>
</div>
