<div class="container">
    <div><h1>Registered Companies</h1></div>
    <div>
        <table border="2px">
            <tr class="head">
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Number</th>
                <th>Operation</th>
            </tr>
            <tbody *ngFor="let company of companys">
                <ng-container *ngIf="company.status==='active'" >
                <td>{{company.id}}</td>
                <td>{{company.email}}</td>
                <td>{{company.name}}</td>
                <td>{{company.number}}</td>
                <td>
                   <button class="btn btn-danger"> <span class="material-symbols-outlined" (click)="deleteCompany(company.id)"> delete</span></button>
                </td>

                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls style="align-items: center;" (pageChange)="pageChanged($event)" ></pagination-controls>

