.search-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.search-bar {
  display: flex;
  align-items: center; 
}

.ip{
  border-radius: 5px;
  height: 35px;
  width: 400px;
}
.result{
  text-align: center;
  margin-top: 150px;
  font-size: 200px;
}

.service-card {
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  margin:15px;
  box-shadow: 
    15px 0px 15px 15px rgba(67, 54, 54, 0.1),
    0px 15px 15px 15px rgba(67, 54, 54, 0.1),
    -15px 0px 15px 15px rgba(67, 54, 54, 0.1),
    0px -15px 15px 15px rgba(67, 54, 54, 0.1);
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#ul li {
  list-style-type: none;
  line-height: 50px;
   border: 3px ;
  text-align: center;
  color:rgb(20, 18, 18);
  font-size: 20px;
}
.btn{
  background-color: #008DDA;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #000;
}