<p>payment works!</p>
<button (click)="paynow()">Pay Amount</button>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_O3zueZz8iWgifA" async> </script> </form>
</head>
<body>
    
</body>
</html>