<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="start">
<h1 style="font-family: 'Arial Black', sans-serif; font-weight: bold; font-style: normal; color: #000000; text-shadow: 2px 2px 4px #666666;">Services at your doorstep</h1>
<div class="maindiv">
    <div class="div1">
        <h3>What are you looking for ?</h3>
            <div class="div2">
            <img id="img1" src="assets/Images/AC.jpeg" height="180px" alt="">
            <img id="img2" src="assets/Images/pServices.jpeg" height="180px" alt="">
            <img id="img3" src="assets/Images/DOOR-REPAIR.jpg" height="180px" alt="">
             <img id="img4" src="assets/Images/Electrical.jpeg" height="180px" alt="">
            <img id="img5" src="assets/Images/Saloon.webp" height="180px" alt="">
            <img id="img6" src="assets/Images/Car.jpeg" height="180px" width="300px" alt="">
            <img id="img6" src="assets/Images/Plumbing-Service.jpg" height="180px" width="300px" alt="">
            </div>
    </div>
</div>

<h1 style="font-family: 'Arial Black', sans-serif; font-weight: bold; font-style: normal; color: #000000; text-shadow: 2px 2px 4px #666666;">Categories</h1>
<div class="main">
    <img src="assets/Images/our-service-1.png">
</div>


<h1 id="h1" style="font-family: 'Arial Black', sans-serif; font-weight: bold; font-style: normal; color: #000000; text-shadow: 2px 2px 4px #666666; padding-top: 30px;">Most Booked Services</h1>

<div class="i">
    <div class="item">
        <img class="img-container" src="assets/Images/Ac Repair.webp" width="300px" height="250px" alt="">
        <h3>Ac Repair</h3>
        <h4>&#8377;549</h4>
        <div class="rating">
            <span class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span> 
            <span class="rating-text">(945k)</span>
        </div>
    </div>
    <div class="item">
        <img class="img-container" src="assets/Images/BCleaning.jpeg" width="300px" height="250px" alt="">
        <h3>Bathroom Cleaning</h3>
        <h4>&#8377;340</h4>
        <div class="rating">
            <span class="stars">&#9733;&#9733;&#9733;&#9734;&#9734;</span> 
            <span class="rating-text">(345k)</span>
        </div>
    </div>

    <div class="item">
        <img class="img-container" src="assets/Images/Painting.jpg" width="300px" height="250px" alt="">
        <h3>Painting Services</h3>
        <h4>&#8377;440</h4>
        <div class="rating">
            <span class="stars">&#9733;&#9733;&#9733;&#9734;&#9734;</span> 
            <span class="rating-text">(745k)</span>
        </div>
    </div>

    <div class="item">
        <img class="img-container" src="assets/Images/Bike.jpeg" width="300px" height="250px" alt="">
        <h3>Bike Cleaning</h3>
        <h4>&#8377;280</h4>
        <div class="rating">
            <span class="stars">&#9733;&#9733;&#9734;&#9734;&#9734;</span> 
            <span class="rating-text">(180k)</span>
        </div>
    </div>

</div>
</div>