.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.innercontainer {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 5px 0;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
}
