<div class="maincontainer">
    <div>
        <img src="assets/Images/client-register.png">
    </div>
    <div class="container">
    <div class="main">
        <div class="reg">
            <h1 style="font-style:italic;">Register</h1>
        </div>
        <div class="btn">
            <button routerLink="/reg-client">Register as A Client</button>
            <button routerLink="/reg-company">Register as a Company</button>
        </div>
    </div>
</div>
</div>